body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navBar {
    background-image: url(../public/images/ICONS/fundoazul.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

#imgNavBar {
    width: 100px;
}

#main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.texto h1 {
    text-align: center;
    font-size: 40px;
    color: #000;
}

#botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 200px;
}

#btnNavBar {
    width: 150px;
    margin-top: 20px;
    padding: 11.5px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#btnNavBar:hover {
    background-color: rgb(50, 50, 255);
    transform: scale(1.05);
}

.ladoLogo {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    gap: 40px;
}

.circulo {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: linear-gradient(180deg, #2BF1FF 34%, #0281FF 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.circulo h2 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.circulo span {
    font-size: 40px;
}

#imgBiblio {
    margin: 0;
    width: 70px;
}